:root {
    --brand-color: #013755;
}

.navbar {
    background-color: var(--brand-color);
}

.btn-primary {
    background-color: var(--brand-color);
    border-color: var(--brand-color);
}

.sorted-asc {
    background: url("../img/arrow-up.png") right center no-repeat;
    background-size: contain;
}

.sorted-desc {
    background: url("../img/arrow-down.png") right center no-repeat;
    background-size: contain;
}
